<nav id="sidebar" class="bg-light">
    <div class="sidebar-header">
        <h3>User Management</h3>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a routerLink="/form" routerLinkActive="active">Form</a>
        </li>
        <li>
            <a routerLink="/table" routerLinkActive="active">Table</a>
        </li>
        <li><a routerLink="/pdf-download" routerLinkActive="active">PDF Download</a></li>
        <li>
            <a routerLink="/pdf-viewer" routerLinkActive="active">PDF Viewer</a>
        </li>
    </ul>
</nav>